

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo"><strong>Finco</strong></a>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="content">
							<header>
								<h1>Finco<h1>
								<h2>Find your own color</h2><br>
								<p>사람에게 '색'이란 자신을 나타내는 수단이고 정체성입니다.<br>
                                 자신만이 가지고 있는 고유의 색을 앎으로써 <br>자신을 들여다보는 기회가 될것입니다.</p>
							</header>
							<ul class="actions">
								<li><a href="/jindans/index" class="button big">진단하기</a></li>
							</ul>
						</div>
						<span class="image object">
							<%=image_tag ('aa1.jpg')%>
						</span>
					</section>

			
				<!-- Section -->
					<section>
						<header class="major">
							<h2>Finco Personal Color Palette</h2>
						</header>
						<div class="posts">
							<article>
								<a href="#" class="image"><%=image_tag ('a1 (18).jpg')%></a>
								<h3>Spring</h3>
								
								<ul class="actions">
									<li><a href="/member/index" class="button">More</a></li>
								</ul>
							</article>
							<article>
								<a href="#" class="image"><%=image_tag ('a1 (6).jpg')%></a>
								<h3>Summer</h3>
								
								<ul class="actions">
									<li><a href="/member/show" class="button">More</a></li>
								</ul>
							</article>
							<article>
								<a href="#" class="image"><%=image_tag ('a1 (3).jpg')%></a>
								<h3>Autumn </h3>
								
								<ul class="actions">
									<li><a href="/member/show1" class="button">More</a></li>
								</ul>
							</article>
							<article>
								<a href="#" class="image"><%=image_tag ('a1 (15).jpg')%></a>
								<h3>Winter</h3>
								
								<ul class="actions">
									<li><a href="/member/show2" class="button">More</a></li>
								</ul>
							</div>
					</section>
	


