<h3>Cool Market</h3>

<h2>Cool Finco</h2>
 <span class="image fit"><%=image_tag ('a1 (5).jpg')%></span>

<!-- Section -->
					<section>
						<header class="major">
							<h3>Lipsticks</h3>
						</header>
						<div class="posts">
							<article>
								<a href="" class="image"><%=image_tag ('aa4.jpg')%></a>
								<h3>Winter Cool strong</h3>
								
								<ul class="actions">
									<li><a href="http://www.innisfree.com/kr/ko/ProductView.do?prdSeq=11677" class="button">More</a></li>
								</ul>
							</article>
							<article>
								<a href="#" class="image"><%=image_tag ('a1 (10).jpg')%></a>
								<h3>Winter Cool deep</h3>
								
								<ul class="actions">
									<li><a href="http://www.innisfree.com/kr/ko/ProductView.do?prdSeq=12916" class="button">More</a></li>
								</ul>
							</article>
							<article>
								<a href="#" class="image"><%=image_tag ('a1 (8).jpg')%></a>
								<h3>Summer Cool Light</h3>
								
								<ul class="actions">
									<li><a href="http://www.innisfree.com/kr/ko/ProductView.do?prdSeq=13976" class="button">More</a></li>
								</ul>
							</article>
							<article>
								<a href="#" class="image"><%=image_tag ('aa5.jpg')%></a>
								<h3>Let's Mute</h3>
								
								<ul class="actions">
									<li><a href="http://www.innisfree.com/kr/ko/ProductView.do?prdSeq=14774" class="button">More</a></li>
								</ul>
							</article>
							<article>
								<a href="#" class="image"><%=image_tag ('aa6.jpg')%></a>
								<h3>Summer to Winter</h3>
								
								<ul class="actions">
									<li><a href="http://www.innisfree.com/kr/ko/ProductView.do?prdSeq=14739" class="button">More</a></li>
								</ul>
							</article>
							<article>
								<a href="#" class="image"><%=image_tag ('aa7.jpg')%></a>
								<h3>Let's Cool</h3>
								
								<ul class="actions">
									<li><a href="http://www.narscosmetics.co.kr/orgasm-limited-edition-orgasm-blush/0607845040699.html#start=1" class="button">More</a></li>
								</ul>
							</article>
							
						</div>
					</section>
